In [2]:
import numpy as np
import  pandas as pd
import glob

Read entire logs

In [3]:
# Define the directory path where your CSV files are stored
directory_path = './saved_logs/try1_with bus/'

# Use glob to find all the CSV files in the directory
csv_files = glob.glob(f"{directory_path}/*.csv")

# Initialize an empty DataFrame to append all CSV data
combined_df = pd.DataFrame()

# Loop through the list of csv files and append each one to the combined_df DataFrame
for file in csv_files:
    df = pd.read_csv(file)
    combined_df = combined_df.append(df, ignore_index=True)

df = combined_df
df

C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\2218014294.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names,Sensor Names
0,Truck(Clone)_3,-538.6110,-0.508458,-237.7938,2024-03-17 02:20:20.353,26,Yellow,RSU_cross1_s1|,NaN
1,Truck(Clone)_15,-564.6526,-0.508535,-208.3599,2024-03-17 02:20:20.358,26,Yellow,RSU_cross1_s1|,NaN
2,Truck(Clone)_26,-572.3984,0.413536,-199.8323,2024-03-17 02:20:20.359,26,Green,NaN,NaN
3,Truck(Clone)_3,-536.0472,-0.508471,-240.7757,2024-03-17 02:20:20.624,27,Yellow,RSU_cross1_s1|,NaN
4,Truck(Clone)_15,-562.9890,-0.508377,-210.1915,2024-03-17 02:20:20.625,27,Yellow,RSU_cross1_s1|,NaN
...,...,...,...,...,...,...,...,...,...
95616,humanCasual 4_1,-163.7393,-1.582020,659.8047,2024-03-17 00:11:41.835,742,Green,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
95617,humanCasual 4_1,-163.7393,-1.582020,659.8047,2024-03-17 00:11:41.868,742,Green,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
95618,humanCasual 4_1,-163.7393,-1.582020,659.8047,2024-03-17 00:11:41.875,742,Green,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
95619,humanCasual 4_1,-163.7393,-1.582020,659.8047,2024-03-17 00:11:41.911,742,Green,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
95620,humanCasual 4_1,-163.7393,-1.582020,659.8047,2024-03-17 00:11:41.941,742,Green,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...

In [4]:
df = df[['X','Y','Z','Box_State']]
df

              X         Y         Z Box_State
0     -538.6110 -0.508458 -237.7938    Yellow
1     -564.6526 -0.508535 -208.3599    Yellow
2     -572.3984  0.413536 -199.8323     Green
3     -536.0472 -0.508471 -240.7757    Yellow
4     -562.9890 -0.508377 -210.1915    Yellow
...         ...       ...       ...       ...
95616 -163.7393 -1.582020  659.8047     Green
95617 -163.7393 -1.582020  659.8047     Green
95618 -163.7393 -1.582020  659.8047     Green
95619 -163.7393 -1.582020  659.8047     Green
95620 -163.7393 -1.582020  659.8047     Green

[95621 rows x 4 columns]

In [5]:
combined_df = pd.DataFrame({
    'X': combined_df['Z'],
    'Y': -combined_df['X'],
    'Z': combined_df['Y'],
})

MGRS_offset_center = pd.Series({'X': 4542.51, 'Y': 72957.96, 'Z': 18.58})

# Add the vector to each row in the DataFrame
combined_df = combined_df.add(MGRS_offset_center, axis='columns')
combined_df

               X           Y          Z
0      4304.7162  73496.5710  18.071542
1      4334.1501  73522.6126  18.071465
2      4342.6777  73530.3584  18.993536
3      4301.7343  73494.0072  18.071529
4      4332.3185  73520.9490  18.071623
...          ...         ...        ...
95616  5202.3147  73121.6993  16.997980
95617  5202.3147  73121.6993  16.997980
95618  5202.3147  73121.6993  16.997980
95619  5202.3147  73121.6993  16.997980
95620  5202.3147  73121.6993  16.997980

[95621 rows x 3 columns]

In [6]:
df = pd.DataFrame({
    'X': combined_df['X'],
    'Y': combined_df['Y'],
    'Z': combined_df['Z'],
    'Box_State': df['Box_State']
})
df

               X           Y          Z Box_State
0      4304.7162  73496.5710  18.071542    Yellow
1      4334.1501  73522.6126  18.071465    Yellow
2      4342.6777  73530.3584  18.993536     Green
3      4301.7343  73494.0072  18.071529    Yellow
4      4332.3185  73520.9490  18.071623    Yellow
...          ...         ...        ...       ...
95616  5202.3147  73121.6993  16.997980     Green
95617  5202.3147  73121.6993  16.997980     Green
95618  5202.3147  73121.6993  16.997980     Green
95619  5202.3147  73121.6993  16.997980     Green
95620  5202.3147  73121.6993  16.997980     Green

[95621 rows x 4 columns]

In [7]:
yellow_box_state_df = df[df['Box_State'] == 'Yellow']
red_box_state_df = df[df['Box_State'] == 'Red']
green_box_state_df = df[df['Box_State'] == 'Green']

yellow_box_state_df.size,red_box_state_df.size , green_box_state_df.size

(27896, 83496, 271092)

# Conversion

In [8]:
mgrs_code = "54SVE"

In [9]:
def digits_extractor(input):
    tenth_thousand = (input // 10000) % 10
    thousanth = (input // 1000) % 10
    hundreth = (input // 100) % 10

    result = str(int(tenth_thousand * 100 + thousanth * 10 + hundreth))
    if len(result) == 2:
        result = "0" + result
    elif len(result) == 1:
        result = "00" + result
    return result

In [10]:
def conver_to_MGRS(df):
    mgrs_code_prefix = "54SVE"

    # Calculate the MGRS code by appending the first three digits of 'X' and 'Y'
    df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)




    # Extract the local X and Y which are the decimal parts of 'X' and 'Y'
    df['Local_X'] = df['X']%100
    df['Local_Y'] = df['Y']%100

    # Create a new DataFrame with the desired columns
    new_df = df[['MGRS_Code', 'Local_X', 'Local_Y']]
    return new_df

### new version

In [11]:
yellow_box_state_df = conver_to_MGRS(yellow_box_state_df)
yellow_box_state_df

C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_X'] = df['X']%100
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_Y'] = df['Y']%100

         MGRS_Code  Local_X  Local_Y
0      54SVE043734   4.7162  96.5710
1      54SVE043735  34.1501  22.6126
3      54SVE043734   1.7343  94.0072
4      54SVE043735  32.3185  20.9490
5      54SVE043735  42.6777  30.3583
...            ...      ...      ...
94454  54SVE052731   6.4426  21.2818
94455  54SVE052731   6.4426  21.2818
94456  54SVE052731   6.4426  21.2818
94457  54SVE052731   6.4426  21.2818
94458  54SVE052731   6.4426  21.2818

[6974 rows x 3 columns]

In [12]:
red_box_state_df = conver_to_MGRS(red_box_state_df)
red_box_state_df

C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_X'] = df['X']%100
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_Y'] = df['Y']%100

         MGRS_Code   Local_X   Local_Y
40     54SVE043735  42.67770  30.35840
44     54SVE043735  42.67760  30.35840
48     54SVE043735  42.62840  30.31350
52     54SVE043735  42.47710  30.17640
56     54SVE043735  42.13120  29.86200
...            ...       ...       ...
81319  54SVE044729  91.28393  46.61331
81320  54SVE044729  91.28393  46.61331
81321  54SVE044729  91.28393  46.61331
81322  54SVE044729  91.28393  46.61331
81323  54SVE044729  91.28393  46.61331

[20874 rows x 3 columns]

In [13]:
green_box_state_df = conver_to_MGRS(green_box_state_df)
green_box_state_df

C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_X'] = df['X']%100
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_34224\3034027603.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_Y'] = df['Y']%100

         MGRS_Code  Local_X  Local_Y
2      54SVE043735  42.6777  30.3584
36     54SVE043735  42.6777  30.3583
37     54SVE042734  73.8072  70.9617
41     54SVE042734  71.8973  69.4088
45     54SVE042734  69.6448  67.2996
...            ...      ...      ...
95616  54SVE052731   2.3147  21.6993
95617  54SVE052731   2.3147  21.6993
95618  54SVE052731   2.3147  21.6993
95619  54SVE052731   2.3147  21.6993
95620  54SVE052731   2.3147  21.6993

[67773 rows x 3 columns]

MGRS Convertor

In [14]:
import mgrs
from pyproj import Transformer

In [15]:
def mgrs_to_latlon_with_offset(mgrs_code, local_x, local_y):
    # Initialize MGRS converter
    m_converter = mgrs.MGRS()

    # Convert MGRS to latitude and longitude
    latlon = m_converter.toLatLon(mgrs_code.encode('utf-8'))

    # Extract initial latitude and longitude
    initial_lat, initial_lon = latlon

    # Find UTM zone and hemisphere from the MGRS code
    utm_zone = mgrs_code[:3]
    is_southern = 'S' in mgrs_code

    # Define transformer from UTM to WGS84 (and vice versa)
    # This automatically considers the hemisphere based on latitude
    transformer_to_utm = Transformer.from_crs(f"EPSG:4326", f"EPSG:326{utm_zone[:2]}", always_xy=True)
    transformer_to_wgs = Transformer.from_crs(f"EPSG:326{utm_zone[:2]}", "EPSG:4326", always_xy=True)

    if is_southern:
        transformer_to_utm = Transformer.from_crs(f"EPSG:4326", f"EPSG:327{utm_zone[:2]}", always_xy=True)
        transformer_to_wgs = Transformer.from_crs(f"EPSG:327{utm_zone[:2]}", "EPSG:4326", always_xy=True)

    # Convert initial latlon to UTM
    x, y = transformer_to_utm.transform(initial_lon, initial_lat)

    # Apply offsets
    x_adjusted = x + local_x
    y_adjusted = y + local_y

    # Convert back to WGS84
    lon_adjusted, lat_adjusted = transformer_to_wgs.transform(x_adjusted, y_adjusted)

    return lat_adjusted, lon_adjusted

# new system

In [17]:
reds = red_box_state_df.apply(lambda row: mgrs_to_latlon_with_offset(row['MGRS_Code'], row['Local_X'], row['Local_Y']), axis=1)
reds = pd.DataFrame(reds.tolist(), columns=['Latitude', 'Longitude'])

yellows = yellow_box_state_df.apply(lambda row: mgrs_to_latlon_with_offset(row['MGRS_Code'], row['Local_X'], row['Local_Y']), axis=1)

yellows = pd.DataFrame(yellows.tolist(), columns=['Latitude', 'Longitude'])

In [18]:
greens = green_box_state_df.apply(lambda row: mgrs_to_latlon_with_offset(row['MGRS_Code'], row['Local_X'], row['Local_Y']), axis=1)

greens = pd.DataFrame(greens.tolist(), columns=['Latitude', 'Longitude'])


greens

        Latitude   Longitude
0      35.901392  139.939983
1      35.901392  139.939983
2      35.900850  139.939227
3      35.900835  139.939206
4      35.900816  139.939181
...          ...         ...
67768  35.897792  139.949556
67769  35.897792  139.949556
67770  35.897792  139.949556
67771  35.897792  139.949556
67772  35.897792  139.949556

[67773 rows x 2 columns]

In [19]:
yellows

       Latitude   Longitude
0     35.901083  139.939566
1     35.901321  139.939889
2     35.901060  139.939534
3     35.901306  139.939869
4     35.901392  139.939983
...         ...         ...
6969  35.897788  139.949602
6970  35.897788  139.949602
6971  35.897788  139.949602
6972  35.897788  139.949602
6973  35.897788  139.949602

[6974 rows x 2 columns]

# double color

In [21]:
# Define custom gradients for each heatmap
gradient_color2 = {
    0.2: 'red',
    0.4: 'red',
    0.6: 'red',
    0.8: 'red',
    1: 'red'
}

gradient_color1 = {
    0.2: 'blue',
    0.4: 'blue',
    0.6: 'blue',
    0.8: 'blue',
    1: 'blue'
}

gradient_color3 = {
    0.2: 'green',
    0.4: 'green',
    0.6: 'green',
    0.8: 'green',
    1: 'green'
}

In [25]:
import folium
from folium.plugins import HeatMap
import pandas as pd




# df = pd.DataFrame(data)


# Calculate the median location to center the map
median_lat = yellows['Latitude'].median()
median_long = yellows['Longitude'].median()

# Create a base map
map_osm = folium.Map(location=[median_lat, median_long], zoom_start=13)

# Add a heatmap layer
HeatMap(data=yellows[['Latitude', 'Longitude']], radius=10, blur=15, max_zoom=1,gradient=gradient_color1).add_to(map_osm)
HeatMap(data=reds[['Latitude', 'Longitude']], radius=7, blur=10, max_zoom=1,gradient=gradient_color2).add_to(map_osm)

# HeatMap(data=greens[['Latitude', 'Longitude']], radius=7, blur=10, max_zoom=1,gradient=gradient_color3).add_to(map_osm)


# Display the map
map_osm.save('heatmapWithBus v1_blues_reds.html')