In [20]:
import numpy as np
import  pandas as pd
import glob

Read entire logs

In [21]:
# Define the directory path where your CSV files are stored
directory_path = './saved_logs/try3_without bus/'

# Use glob to find all the CSV files in the directory
csv_files = glob.glob(f"{directory_path}/*.csv")

# Initialize an empty DataFrame to append all CSV data
combined_df = pd.DataFrame()

# Loop through the list of csv files and append each one to the combined_df DataFrame
for file in csv_files:
    df = pd.read_csv(file)
    combined_df = combined_df.append(df, ignore_index=True)

df = combined_df
df

C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\480640357.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = combined_df.append(df, ignore_index=True)

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names,Sensor Names
0,Van(Clone)_4,-571.2328,-0.472852,-201.1151,2024-03-16 22:40:09.950,23,Yellow,RSU_cross1_s1|,NaN
1,Van(Clone)_4,-570.9661,-0.495205,-201.4088,2024-03-16 22:40:10.068,28,Yellow,RSU_cross1_s1|,NaN
2,Van(Clone)_4,-570.6721,-0.498545,-201.7328,2024-03-16 22:40:10.183,33,Yellow,RSU_cross1_s1|,NaN
3,Van(Clone)_4,-570.3505,-0.487362,-202.0869,2024-03-16 22:40:10.298,38,Yellow,RSU_cross1_s1|,NaN
4,Van(Clone)_4,-570.0015,-0.474657,-202.4712,2024-03-16 22:40:10.416,43,Yellow,RSU_cross1_s1|,NaN
...,...,...,...,...,...,...,...,...,...
100296,humanCasual 4_1,-163.9210,-1.581898,658.0048,2024-03-16 22:05:45.177,1317,Yellow,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
100297,humanCasual 4_1,-163.9210,-1.581898,658.0048,2024-03-16 22:05:45.212,1317,Yellow,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
100298,humanCasual 4_1,-163.9210,-1.581898,658.0048,2024-03-16 22:05:45.273,1317,Yellow,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
100299,humanCasual 4_1,-163.9210,-1.581898,658.0048,2024-03-16 22:05:45.307,1317,Yellow,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...
100300,humanCasual 4_1,-163.9210,-1.581898,658.0048,2024-03-16 22:05:45.343,1317,Yellow,NaN,RSU_cam_cross4_c3|RSU_cam_cross4_c3|RSU_cam_cr...

# old version for single car

In [22]:
cars = pd.read_csv('CarsC2.csv')
cars

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names
0,Sepeda Facific Invert3 Variant 1 Variant,35.15998,0.490000,-40.78000,2024-02-08 00:36:25.844,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
1,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.848,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
2,Sepeda Facific Invert3 Variant 1 Variant,35.15998,0.490000,-40.78000,2024-02-08 00:36:25.894,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
3,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.895,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
4,Sepeda Facific Invert3 Variant 1 Variant,35.15998,0.490000,-40.78000,2024-02-08 00:36:25.946,64,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
...,...,...,...,...,...,...,...,...
21165,humanCasual (3) Variant,36.56913,0.533413,-38.75212,2024-02-08 00:45:11.547,11815,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21166,Sepeda Facific Invert3 Variant 1 Variant,35.15999,0.449761,-40.78001,2024-02-08 00:45:11.619,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21167,humanCasual (3) Variant,36.63888,0.533413,-38.90936,2024-02-08 00:45:11.649,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21168,Sepeda Facific Invert3 Variant 1 Variant,35.15999,0.449761,-40.78001,2024-02-08 00:45:11.768,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21169,humanCasual (3) Variant,36.71554,0.533413,-39.08340,2024-02-08 00:45:11.854,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...

In [3]:
cars = cars[cars[' Box_State'].notna()]
cars = cars[cars['Name'] != "Sepeda Facific Invert3 Variant 1 Variant"]
cars

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names
1,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.848,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
3,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.895,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
5,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.947,64,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
7,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.997,83,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
9,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:26.048,102,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
...,...,...,...,...,...,...,...,...
21161,humanCasual (3) Variant,36.40762,0.533412,-38.38403,2024-02-08 00:45:11.329,11813,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21163,humanCasual (3) Variant,36.50370,0.533412,-38.60340,2024-02-08 00:45:11.431,11814,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21165,humanCasual (3) Variant,36.56913,0.533413,-38.75212,2024-02-08 00:45:11.547,11815,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21167,humanCasual (3) Variant,36.63888,0.533413,-38.90936,2024-02-08 00:45:11.649,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21169,humanCasual (3) Variant,36.71554,0.533413,-39.08340,2024-02-08 00:45:11.854,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...

In [4]:
cars

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names
1,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.848,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
3,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.895,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
5,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.947,64,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
7,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.997,83,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
9,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:26.048,102,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
...,...,...,...,...,...,...,...,...
21161,humanCasual (3) Variant,36.40762,0.533412,-38.38403,2024-02-08 00:45:11.329,11813,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21163,humanCasual (3) Variant,36.50370,0.533412,-38.60340,2024-02-08 00:45:11.431,11814,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21165,humanCasual (3) Variant,36.56913,0.533413,-38.75212,2024-02-08 00:45:11.547,11815,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21167,humanCasual (3) Variant,36.63888,0.533413,-38.90936,2024-02-08 00:45:11.649,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21169,humanCasual (3) Variant,36.71554,0.533413,-39.08340,2024-02-08 00:45:11.854,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...

In [11]:
cars = cars[['X','Y','Z']]
cars

              X         Y         Z
1      36.99415  0.533508 -39.71268
3      36.99415  0.533508 -39.71268
5      36.99415  0.533508 -39.71268
7      36.99415  0.533508 -39.71268
9      36.99415  0.533508 -39.71268
...         ...       ...       ...
21161  36.40762  0.533412 -38.38403
21163  36.50370  0.533412 -38.60340
21165  36.56913  0.533413 -38.75212
21167  36.63888  0.533413 -38.90936
21169  36.71554  0.533413 -39.08340

[14023 rows x 3 columns]

In [12]:
new_cars = pd.DataFrame({
    'X': cars['Z'],
    'Y': -cars['X'],
    'Z': cars['Y']
})

new_cars

              X         Y         Z
1     -39.71268 -36.99415  0.533508
3     -39.71268 -36.99415  0.533508
5     -39.71268 -36.99415  0.533508
7     -39.71268 -36.99415  0.533508
9     -39.71268 -36.99415  0.533508
...         ...       ...       ...
21161 -38.38403 -36.40762  0.533412
21163 -38.60340 -36.50370  0.533412
21165 -38.75212 -36.56913  0.533413
21167 -38.90936 -36.63888  0.533413
21169 -39.08340 -36.71554  0.533413

[14023 rows x 3 columns]

In [13]:
# Define the vector to be added to each row
MGRS_offset_center = pd.Series({'X': 4542.51, 'Y': 72957.96, 'Z': 18.58})

# Add the vector to each row in the DataFrame
df = new_cars.add(MGRS_offset_center, axis='columns')
df

                X            Y          Z
1      4502.79732  72920.96585  19.113508
3      4502.79732  72920.96585  19.113508
5      4502.79732  72920.96585  19.113508
7      4502.79732  72920.96585  19.113508
9      4502.79732  72920.96585  19.113508
...           ...          ...        ...
21161  4504.12597  72921.55238  19.113412
21163  4503.90660  72921.45630  19.113412
21165  4503.75788  72921.39087  19.113413
21167  4503.60064  72921.32112  19.113413
21169  4503.42660  72921.24446  19.113413

[14023 rows x 3 columns]

# End of old Version

In [23]:
df = df[['X','Y','Z','Box_State']]
df

               X         Y         Z Box_State
0      -571.2328 -0.472852 -201.1151    Yellow
1      -570.9661 -0.495205 -201.4088    Yellow
2      -570.6721 -0.498545 -201.7328    Yellow
3      -570.3505 -0.487362 -202.0869    Yellow
4      -570.0015 -0.474657 -202.4712    Yellow
...          ...       ...       ...       ...
100296 -163.9210 -1.581898  658.0048    Yellow
100297 -163.9210 -1.581898  658.0048    Yellow
100298 -163.9210 -1.581898  658.0048    Yellow
100299 -163.9210 -1.581898  658.0048    Yellow
100300 -163.9210 -1.581898  658.0048    Yellow

[100301 rows x 4 columns]

In [24]:
combined_df = pd.DataFrame({
    'X': combined_df['Z'],
    'Y': -combined_df['X'],
    'Z': combined_df['Y'],
})

MGRS_offset_center = pd.Series({'X': 4542.51, 'Y': 72957.96, 'Z': 18.58})

# Add the vector to each row in the DataFrame
combined_df = combined_df.add(MGRS_offset_center, axis='columns')
combined_df

                X           Y          Z
0       4341.3949  73529.1928  18.107148
1       4341.1012  73528.9261  18.084795
2       4340.7772  73528.6321  18.081455
3       4340.4231  73528.3105  18.092638
4       4340.0388  73527.9615  18.105343
...           ...         ...        ...
100296  5200.5148  73121.8810  16.998102
100297  5200.5148  73121.8810  16.998102
100298  5200.5148  73121.8810  16.998102
100299  5200.5148  73121.8810  16.998102
100300  5200.5148  73121.8810  16.998102

[100301 rows x 3 columns]

In [25]:
df = pd.DataFrame({
    'X': combined_df['X'],
    'Y': combined_df['Y'],
    'Z': combined_df['Z'],
    'Box_State': df['Box_State']
})
df

                X           Y          Z Box_State
0       4341.3949  73529.1928  18.107148    Yellow
1       4341.1012  73528.9261  18.084795    Yellow
2       4340.7772  73528.6321  18.081455    Yellow
3       4340.4231  73528.3105  18.092638    Yellow
4       4340.0388  73527.9615  18.105343    Yellow
...           ...         ...        ...       ...
100296  5200.5148  73121.8810  16.998102    Yellow
100297  5200.5148  73121.8810  16.998102    Yellow
100298  5200.5148  73121.8810  16.998102    Yellow
100299  5200.5148  73121.8810  16.998102    Yellow
100300  5200.5148  73121.8810  16.998102    Yellow

[100301 rows x 4 columns]

In [26]:
yellow_box_state_df = df[df['Box_State'] == 'Yellow']
red_box_state_df = df[df['Box_State'] == 'Red']
yellow_box_state_df.size,red_box_state_df.size

(248632, 152288)

# Conversion

In [27]:
mgrs_code = "54SVE"

In [28]:
def digits_extractor(input):
    tenth_thousand = (input // 10000) % 10
    thousanth = (input // 1000) % 10
    hundreth = (input // 100) % 10

    result = str(int(tenth_thousand * 100 + thousanth * 10 + hundreth))
    if len(result) == 2:
        result = "0" + result
    elif len(result) == 1:
        result = "00" + result
    return result

In [29]:
def conver_to_MGRS(df):
    mgrs_code_prefix = "54SVE"

    # Calculate the MGRS code by appending the first three digits of 'X' and 'Y'
    df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)




    # Extract the local X and Y which are the decimal parts of 'X' and 'Y'
    df['Local_X'] = df['X']%100
    df['Local_Y'] = df['Y']%100

    # Create a new DataFrame with the desired columns
    new_df = df[['MGRS_Code', 'Local_X', 'Local_Y']]
    return new_df

In [18]:
# old
# Your MGRS code prefix
mgrs_code_prefix = "54SVE"

# Calculate the MGRS code by appending the first three digits of 'X' and 'Y'
df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)




# Extract the local X and Y which are the decimal parts of 'X' and 'Y'
df['Local_X'] = df['X']%100
df['Local_Y'] = df['Y']%100

# Create a new DataFrame with the desired columns
new_df = df[['MGRS_Code', 'Local_X', 'Local_Y']]

new_df

         MGRS_Code  Local_X   Local_Y
1      54SVE045729  2.79732  20.96585
3      54SVE045729  2.79732  20.96585
5      54SVE045729  2.79732  20.96585
7      54SVE045729  2.79732  20.96585
9      54SVE045729  2.79732  20.96585
...            ...      ...       ...
21161  54SVE045729  4.12597  21.55238
21163  54SVE045729  3.90660  21.45630
21165  54SVE045729  3.75788  21.39087
21167  54SVE045729  3.60064  21.32112
21169  54SVE045729  3.42660  21.24446

[14023 rows x 3 columns]

### new version

In [30]:
yellow_box_state_df = conver_to_MGRS(yellow_box_state_df)
yellow_box_state_df

C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\3034027603.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\3034027603.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_X'] = df['X']%100
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\3034027603.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_Y'] = df['Y']%100

          MGRS_Code  Local_X  Local_Y
0       54SVE043735  41.3949  29.1928
1       54SVE043735  41.1012  28.9261
2       54SVE043735  40.7772  28.6321
3       54SVE043735  40.4231  28.3105
4       54SVE043735  40.0388  27.9615
...             ...      ...      ...
100296  54SVE052731   0.5148  21.8810
100297  54SVE052731   0.5148  21.8810
100298  54SVE052731   0.5148  21.8810
100299  54SVE052731   0.5148  21.8810
100300  54SVE052731   0.5148  21.8810

[62158 rows x 3 columns]

In [31]:
red_box_state_df = conver_to_MGRS(red_box_state_df)
red_box_state_df

C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\3034027603.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\3034027603.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_X'] = df['X']%100
C:\Users\KASHANI\AppData\Local\Temp\ipykernel_27256\3034027603.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Local_Y'] = df['Y']%100

         MGRS_Code  Local_X  Local_Y
315    54SVE042734  38.8285  45.7399
320    54SVE042734  37.5021  44.8110
325    54SVE042734  36.3600  44.0221
330    54SVE042734  35.0206  43.1121
335    54SVE042734  33.6738  42.2131
...            ...      ...      ...
97825  54SVE052731   6.4426  21.2818
97826  54SVE052731   6.4426  21.2818
97827  54SVE052731   6.4426  21.2818
97828  54SVE052731   6.4426  21.2818
97829  54SVE052731   6.4426  21.2818

[38072 rows x 3 columns]

MGRS Convertor

In [32]:
import mgrs
from pyproj import Transformer

In [33]:
def mgrs_to_latlon_with_offset(mgrs_code, local_x, local_y):
    # Initialize MGRS converter
    m_converter = mgrs.MGRS()

    # Convert MGRS to latitude and longitude
    latlon = m_converter.toLatLon(mgrs_code.encode('utf-8'))

    # Extract initial latitude and longitude
    initial_lat, initial_lon = latlon

    # Find UTM zone and hemisphere from the MGRS code
    utm_zone = mgrs_code[:3]
    is_southern = 'S' in mgrs_code

    # Define transformer from UTM to WGS84 (and vice versa)
    # This automatically considers the hemisphere based on latitude
    transformer_to_utm = Transformer.from_crs(f"EPSG:4326", f"EPSG:326{utm_zone[:2]}", always_xy=True)
    transformer_to_wgs = Transformer.from_crs(f"EPSG:326{utm_zone[:2]}", "EPSG:4326", always_xy=True)

    if is_southern:
        transformer_to_utm = Transformer.from_crs(f"EPSG:4326", f"EPSG:327{utm_zone[:2]}", always_xy=True)
        transformer_to_wgs = Transformer.from_crs(f"EPSG:327{utm_zone[:2]}", "EPSG:4326", always_xy=True)

    # Convert initial latlon to UTM
    x, y = transformer_to_utm.transform(initial_lon, initial_lat)

    # Apply offsets
    x_adjusted = x + local_x
    y_adjusted = y + local_y

    # Convert back to WGS84
    lon_adjusted, lat_adjusted = transformer_to_wgs.transform(x_adjusted, y_adjusted)

    return lat_adjusted, lon_adjusted

# new system

In [34]:
reds = red_box_state_df.apply(lambda row: mgrs_to_latlon_with_offset(row['MGRS_Code'], row['Local_X'], row['Local_Y']), axis=1)
reds = pd.DataFrame(reds.tolist(), columns=['Latitude', 'Longitude'])

yellows = yellow_box_state_df.apply(lambda row: mgrs_to_latlon_with_offset(row['MGRS_Code'], row['Local_X'], row['Local_Y']), axis=1)

yellows = pd.DataFrame(yellows.tolist(), columns=['Latitude', 'Longitude'])
reds

        Latitude   Longitude
0      35.900619  139.938843
1      35.900610  139.938828
2      35.900603  139.938815
3      35.900595  139.938801
4      35.900586  139.938786
...          ...         ...
38067  35.897788  139.949602
38068  35.897788  139.949602
38069  35.897788  139.949602
38070  35.897788  139.949602
38071  35.897788  139.949602

[38072 rows x 2 columns]

In [35]:
yellows

        Latitude   Longitude
0      35.901381  139.939969
1      35.901379  139.939966
2      35.901376  139.939962
3      35.901373  139.939958
4      35.901370  139.939954
...          ...         ...
62153  35.897793  139.949536
62154  35.897793  139.949536
62155  35.897793  139.949536
62156  35.897793  139.949536
62157  35.897793  139.949536

[62158 rows x 2 columns]

In [21]:
results = new_df.apply(lambda row: mgrs_to_latlon_with_offset(row['MGRS_Code'], row['Local_X'], row['Local_Y']), axis=1)

# The results will be a series of tuples; we can convert this into a DataFrame
results_df = pd.DataFrame(results.tolist(), columns=['Latitude', 'Longitude'])
results_df

        Latitude   Longitude
0      35.895914  139.941830
1      35.895914  139.941830
2      35.895914  139.941830
3      35.895914  139.941830
4      35.895914  139.941830
...          ...         ...
14018  35.895919  139.941845
14019  35.895919  139.941842
14020  35.895918  139.941841
14021  35.895917  139.941839
14022  35.895917  139.941837

[14023 rows x 2 columns]

In [22]:
first_1000_rows = results_df.iloc[:1000]
first_1000_rows

      Latitude   Longitude
0    35.895914  139.941830
1    35.895914  139.941830
2    35.895914  139.941830
3    35.895914  139.941830
4    35.895914  139.941830
..         ...         ...
995  35.895904  139.941866
996  35.896161  139.942149
997  35.895950  139.941928
998  35.895908  139.941903
999  35.895908  139.941864

[1000 rows x 2 columns]

In [27]:
import folium
from folium.plugins import HeatMap
import pandas as pd

# Sample DataFrame of latitudes and longitudes
# df = pd.DataFrame({'latitude': [lat1, lat2, ...], 'longitude': [long1, long2, ...]})

import pandas as pd

# Defining the DataFrame with the sample data
df =  results_df



# df = pd.DataFrame(data)


# Calculate the median location to center the map
median_lat = df['Latitude'].median()
median_long = df['Longitude'].median()

# Create a base map
map_osm = folium.Map(location=[median_lat, median_long], zoom_start=13)

# Add a heatmap layer
HeatMap(data=df[['Latitude', 'Longitude']], radius=10, blur=15, max_zoom=1).add_to(map_osm)

# Display the map
map_osm.save('heatmap2.html')

# double color

In [36]:
# Define custom gradients for each heatmap
gradient_color2 = {
    0.2: 'red',
    0.4: 'red',
    0.6: 'red',
    0.8: 'red',
    1: 'red'
}

gradient_color1 = {
    0.2: 'blue',
    0.4: 'blue',
    0.6: 'blue',
    0.8: 'blue',
    1: 'blue'
}

In [39]:
import folium
from folium.plugins import HeatMap
import pandas as pd




# df = pd.DataFrame(data)


# Calculate the median location to center the map
median_lat = yellows['Latitude'].median()
median_long = yellows['Longitude'].median()

# Create a base map
map_osm = folium.Map(location=[median_lat, median_long], zoom_start=13)

# Add a heatmap layer
HeatMap(data=yellows[['Latitude', 'Longitude']], radius=10, blur=15, max_zoom=1,gradient=gradient_color1).add_to(map_osm)
# HeatMap(data=reds[['Latitude', 'Longitude']], radius=7, blur=10, max_zoom=1,gradient=gradient_color2).add_to(map_osm)

# Display the map
map_osm.save('heatmap_without bus only detected_v3_without reds.html')