In [1]:
import numpy as np
import  pandas as pd

In [2]:
cars = pd.read_csv('CarsC2.csv')
cars

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names
0,Sepeda Facific Invert3 Variant 1 Variant,35.15998,0.490000,-40.78000,2024-02-08 00:36:25.844,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
1,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.848,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
2,Sepeda Facific Invert3 Variant 1 Variant,35.15998,0.490000,-40.78000,2024-02-08 00:36:25.894,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
3,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.895,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
4,Sepeda Facific Invert3 Variant 1 Variant,35.15998,0.490000,-40.78000,2024-02-08 00:36:25.946,64,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
...,...,...,...,...,...,...,...,...
21165,humanCasual (3) Variant,36.56913,0.533413,-38.75212,2024-02-08 00:45:11.547,11815,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21166,Sepeda Facific Invert3 Variant 1 Variant,35.15999,0.449761,-40.78001,2024-02-08 00:45:11.619,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21167,humanCasual (3) Variant,36.63888,0.533413,-38.90936,2024-02-08 00:45:11.649,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21168,Sepeda Facific Invert3 Variant 1 Variant,35.15999,0.449761,-40.78001,2024-02-08 00:45:11.768,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21169,humanCasual (3) Variant,36.71554,0.533413,-39.08340,2024-02-08 00:45:11.854,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...

In [3]:
cars = cars[cars[' Box_State'].notna()]
cars = cars[cars['Name'] != "Sepeda Facific Invert3 Variant 1 Variant"]
cars

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names
1,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.848,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
3,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.895,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
5,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.947,64,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
7,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.997,83,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
9,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:26.048,102,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
...,...,...,...,...,...,...,...,...
21161,humanCasual (3) Variant,36.40762,0.533412,-38.38403,2024-02-08 00:45:11.329,11813,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21163,humanCasual (3) Variant,36.50370,0.533412,-38.60340,2024-02-08 00:45:11.431,11814,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21165,humanCasual (3) Variant,36.56913,0.533413,-38.75212,2024-02-08 00:45:11.547,11815,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21167,humanCasual (3) Variant,36.63888,0.533413,-38.90936,2024-02-08 00:45:11.649,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21169,humanCasual (3) Variant,36.71554,0.533413,-39.08340,2024-02-08 00:45:11.854,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...

In [4]:
cars

,Name,X,Y,Z,Time,Frame,Box_State,Sensor Names
1,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.848,26,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
3,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.895,46,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|
5,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.947,64,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
7,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:25.997,83,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
9,humanCasual (3) Variant,36.99415,0.533508,-39.71268,2024-02-08 00:36:26.048,102,Yellow,RSU_cross2|RSU_cam_cross2|RSU_cam_cross2|RSU_c...
...,...,...,...,...,...,...,...,...
21161,humanCasual (3) Variant,36.40762,0.533412,-38.38403,2024-02-08 00:45:11.329,11813,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21163,humanCasual (3) Variant,36.50370,0.533412,-38.60340,2024-02-08 00:45:11.431,11814,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21165,humanCasual (3) Variant,36.56913,0.533413,-38.75212,2024-02-08 00:45:11.547,11815,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21167,humanCasual (3) Variant,36.63888,0.533413,-38.90936,2024-02-08 00:45:11.649,11816,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...
21169,humanCasual (3) Variant,36.71554,0.533413,-39.08340,2024-02-08 00:45:11.854,11817,Yellow,RSU_cam_cross2|RSU_cam_cross2|RSU_cam_cross2|R...

In [11]:
cars = cars[['X','Y','Z']]
cars

              X         Y         Z
1      36.99415  0.533508 -39.71268
3      36.99415  0.533508 -39.71268
5      36.99415  0.533508 -39.71268
7      36.99415  0.533508 -39.71268
9      36.99415  0.533508 -39.71268
...         ...       ...       ...
21161  36.40762  0.533412 -38.38403
21163  36.50370  0.533412 -38.60340
21165  36.56913  0.533413 -38.75212
21167  36.63888  0.533413 -38.90936
21169  36.71554  0.533413 -39.08340

[14023 rows x 3 columns]

In [12]:
new_cars = pd.DataFrame({
    'X': cars['Z'],
    'Y': -cars['X'],
    'Z': cars['Y']
})

new_cars

              X         Y         Z
1     -39.71268 -36.99415  0.533508
3     -39.71268 -36.99415  0.533508
5     -39.71268 -36.99415  0.533508
7     -39.71268 -36.99415  0.533508
9     -39.71268 -36.99415  0.533508
...         ...       ...       ...
21161 -38.38403 -36.40762  0.533412
21163 -38.60340 -36.50370  0.533412
21165 -38.75212 -36.56913  0.533413
21167 -38.90936 -36.63888  0.533413
21169 -39.08340 -36.71554  0.533413

[14023 rows x 3 columns]

In [13]:
# Define the vector to be added to each row
MGRS_offset_center = pd.Series({'X': 4542.51, 'Y': 72957.96, 'Z': 18.58})

# Add the vector to each row in the DataFrame
df = new_cars.add(MGRS_offset_center, axis='columns')
df

                X            Y          Z
1      4502.79732  72920.96585  19.113508
3      4502.79732  72920.96585  19.113508
5      4502.79732  72920.96585  19.113508
7      4502.79732  72920.96585  19.113508
9      4502.79732  72920.96585  19.113508
...           ...          ...        ...
21161  4504.12597  72921.55238  19.113412
21163  4503.90660  72921.45630  19.113412
21165  4503.75788  72921.39087  19.113413
21167  4503.60064  72921.32112  19.113413
21169  4503.42660  72921.24446  19.113413

[14023 rows x 3 columns]

In [14]:
mgrs_code = "54SVE"

In [15]:
def digits_extractor(input):
    tenth_thousand = (input // 10000) % 10
    thousanth = (input // 1000) % 10
    hundreth = (input // 100) % 10

    result = str(int(tenth_thousand * 100 + thousanth * 10 + hundreth))
    if len(result) == 2:
        result = "0" + result
    elif len(result) == 1:
        result = "00" + result
    return result

In [18]:
# Your MGRS code prefix
mgrs_code_prefix = "54SVE"

# Calculate the MGRS code by appending the first three digits of 'X' and 'Y'
df['MGRS_Code'] = mgrs_code_prefix + df['X'].apply(digits_extractor) + df['Y'].apply(digits_extractor)




# Extract the local X and Y which are the decimal parts of 'X' and 'Y'
df['Local_X'] = df['X']%100
df['Local_Y'] = df['Y']%100

# Create a new DataFrame with the desired columns
new_df = df[['MGRS_Code', 'Local_X', 'Local_Y']]

new_df

         MGRS_Code  Local_X   Local_Y
1      54SVE045729  2.79732  20.96585
3      54SVE045729  2.79732  20.96585
5      54SVE045729  2.79732  20.96585
7      54SVE045729  2.79732  20.96585
9      54SVE045729  2.79732  20.96585
...            ...      ...       ...
21161  54SVE045729  4.12597  21.55238
21163  54SVE045729  3.90660  21.45630
21165  54SVE045729  3.75788  21.39087
21167  54SVE045729  3.60064  21.32112
21169  54SVE045729  3.42660  21.24446

[14023 rows x 3 columns]

MGRS Convertor

In [19]:
import mgrs
from pyproj import Transformer

In [20]:
def mgrs_to_latlon_with_offset(mgrs_code, local_x, local_y):
    # Initialize MGRS converter
    m_converter = mgrs.MGRS()

    # Convert MGRS to latitude and longitude
    latlon = m_converter.toLatLon(mgrs_code.encode('utf-8'))

    # Extract initial latitude and longitude
    initial_lat, initial_lon = latlon

    # Find UTM zone and hemisphere from the MGRS code
    utm_zone = mgrs_code[:3]
    is_southern = 'S' in mgrs_code

    # Define transformer from UTM to WGS84 (and vice versa)
    # This automatically considers the hemisphere based on latitude
    transformer_to_utm = Transformer.from_crs(f"EPSG:4326", f"EPSG:326{utm_zone[:2]}", always_xy=True)
    transformer_to_wgs = Transformer.from_crs(f"EPSG:326{utm_zone[:2]}", "EPSG:4326", always_xy=True)

    if is_southern:
        transformer_to_utm = Transformer.from_crs(f"EPSG:4326", f"EPSG:327{utm_zone[:2]}", always_xy=True)
        transformer_to_wgs = Transformer.from_crs(f"EPSG:327{utm_zone[:2]}", "EPSG:4326", always_xy=True)

    # Convert initial latlon to UTM
    x, y = transformer_to_utm.transform(initial_lon, initial_lat)

    # Apply offsets
    x_adjusted = x + local_x
    y_adjusted = y + local_y

    # Convert back to WGS84
    lon_adjusted, lat_adjusted = transformer_to_wgs.transform(x_adjusted, y_adjusted)

    return lat_adjusted, lon_adjusted

In [21]:
results = new_df.apply(lambda row: mgrs_to_latlon_with_offset(row['MGRS_Code'], row['Local_X'], row['Local_Y']), axis=1)

# The results will be a series of tuples; we can convert this into a DataFrame
results_df = pd.DataFrame(results.tolist(), columns=['Latitude', 'Longitude'])
results_df

        Latitude   Longitude
0      35.895914  139.941830
1      35.895914  139.941830
2      35.895914  139.941830
3      35.895914  139.941830
4      35.895914  139.941830
...          ...         ...
14018  35.895919  139.941845
14019  35.895919  139.941842
14020  35.895918  139.941841
14021  35.895917  139.941839
14022  35.895917  139.941837

[14023 rows x 2 columns]

In [22]:
first_1000_rows = results_df.iloc[:1000]
first_1000_rows

      Latitude   Longitude
0    35.895914  139.941830
1    35.895914  139.941830
2    35.895914  139.941830
3    35.895914  139.941830
4    35.895914  139.941830
..         ...         ...
995  35.895904  139.941866
996  35.896161  139.942149
997  35.895950  139.941928
998  35.895908  139.941903
999  35.895908  139.941864

[1000 rows x 2 columns]

In [27]:
import folium
from folium.plugins import HeatMap
import pandas as pd

# Sample DataFrame of latitudes and longitudes
# df = pd.DataFrame({'latitude': [lat1, lat2, ...], 'longitude': [long1, long2, ...]})

import pandas as pd

# Defining the DataFrame with the sample data
df =  results_df



# df = pd.DataFrame(data)


# Calculate the median location to center the map
median_lat = df['Latitude'].median()
median_long = df['Longitude'].median()

# Create a base map
map_osm = folium.Map(location=[median_lat, median_long], zoom_start=13)

# Add a heatmap layer
HeatMap(data=df[['Latitude', 'Longitude']], radius=10, blur=15, max_zoom=1).add_to(map_osm)

# Display the map
map_osm.save('heatmap2.html')